@page "/animaldetail"
@page "/animaldetail/{Id:int}"

@using AnimalShelter.Client.Services
@using AnimalShelter.Shared

@inject NavigationManager NavManager 
@inject IAnimalService AnimalService

<h3>AnimalDetail</h3>

<EditForm Model="@Animal" OnValidSubmit="HandleValidSubmit">
    
    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" @bind-Value="Animal.Name" class="form-control" />
    </div>
    
    <div class="form-group">
        <label for="dateOfBirth">Date of Birth</label>
        <InputDate id="dateOfBirth" @bind-Value="Animal.DateOfBirth" class="form-control" />
    </div>
    <div class="form-group">
        <label for="estimatedAge">Estimated age</label>
        <InputNumber id="estimatedAge" @bind-Value="Animal.EstimatedAge" class="form-control" />
    </div>

    <div class="form-group">
        <label for="pictureUrl">Picture</label>
        <InputText id="pictureUrl" @bind-Value="Animal.PictureUrl" class="form-control" />
    </div>
    
    @if (!string.IsNullOrEmpty(Animal.PictureUrl))
    {
        <div class="form-group">
            <img src="@Animal.PictureUrl" width="300" height="300"/>
        </div>
    }

    
    <div class="form-group">
        <label for="kindofanimal">Kind of animal</label>
        <InputSelect @bind-Value="Animal.AnimalKind" class="form-control">
            @foreach (var kind in Enum.GetValues(typeof(AnimalKind)))
            {
                <option value="@kind">@kind</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="gender">Gender</label>
        <InputSelect id="gender" @bind-Value="Animal.Gender" class="form-control">
            @foreach (var gender in Enum.GetValues(typeof(Gender)))
            {
                <option value="@gender">@gender</option>
            }
        </InputSelect>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" @onclick="MoveToOverview">Back to overview</button>
    
    

</EditForm>


@code {

    [Parameter]
    public int? Id { get; set; }


    private Animal Animal { get; set; } = new Animal();


    void HandleValidSubmit()
    {

        if (Id.HasValue)
        {
            UpdateAnimal();
        }
        else
        {
            CreateAnimal();
        }
    }

    protected override void OnParametersSet()
    {
        if (Id.HasValue)
        {
            Animal = AnimalService.GetAnimal(Id.Value);
        }
    }

    private void MoveToOverview()
    {
        NavManager.NavigateTo("/animaloverview");
    }

    private void UpdateAnimal()
    {
        MoveToOverview();
    }

    private void CreateAnimal()
    {
        AnimalService.AddAnimal(Animal);

        MoveToOverview();
    }
}
