@page "/productdetail"
@page "/productdetail/{Id:int}"
@using AnimalShelter.Shared
@using AnimalShelter.Client.Services

<h3>Product Detail</h3>

<EditForm Model="@Product" OnValidSubmit="HandleValidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" @bind-Value="Product.Name" class="form-control" />
        <ValidationMessage For="@(() => Product.Name)" />
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <InputNumber id="price" @bind-Value="Product.Price" class="form-control" />
        <ValidationMessage For="@(() => Product.Price)" />
    </div>
    <div class="form-group">
        <label for="vatPercentage">VAT Percentage</label>
        <InputNumber id="vatPercentage" @bind-Value="Product.VatPercentage" class="form-control" />
        <ValidationMessage For="@(() => Product.VatPercentage)" />
    </div>

    <div class="form-group">
        <label for="netPrice">Net price</label>
        <label id="netPrice" class="form-control">@Product.NetPrice</label>
    </div>

    <div class="form-group">
        <label for="pictureUrl">Picture</label>
        <InputText id="pictureUrl" @bind-Value="Product.ProductImageUrl" class="form-control" />
        <ValidationMessage For="@(() => Product.ProductImageUrl)" />
    </div>

    @if (!string.IsNullOrEmpty(Product.ProductImageUrl))
    {
        <div class="form-group">
            <img src="@Product.ProductImageUrl" width="300" height="300" />
        </div>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" @onclick="MoveToOverview">Back to overview</button>

</EditForm>


@code {

    [Parameter]
    public int? Id { get; set; }
    
    [Inject]
    private NavigationManager navigationManager { get; set; }

    [Inject]
    private IProductService ProductService { get; set; }
  
    public Product Product { get; set; } = new Product();

    protected override async Task OnParametersSetAsync()
    {
        if (Id.HasValue)
        {
            Product = await ProductService.GetProduct(Id.Value);
        }
    }

    private async Task HandleValidSubmit()
    {
        if (Id.HasValue)
        {
            await UpdateProduct();
        }
        else
        {
            await CreateProduct();
        }

    }

    private void MoveToOverview()
    {
        navigationManager.NavigateTo("/productoverview");
    }

    private async Task UpdateProduct()
    {
        await ProductService.UpdateProduct(Product);
        
        MoveToOverview();
    }

    private async Task CreateProduct()
    {
        await ProductService.AddProduct(Product);
        
        MoveToOverview();
    }
}
